.movie-poster {
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    text-align: start;
    line-height: 0;
 margin-top: 20px;
 background-color:rgb(238, 237, 237);
 align-self: center;
margin-left: 0;
 
    
}
.posters h1{
    color: #111827;
}

.fav-movie-card {
    width: calc(25% - 40px);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px; 
    box-sizing: border-box; 
    margin-left: 20px;
}

.banner {
    height: 100%;
    display: flex;
    justify-content: flex-end;

    border-radius: 12px ; 
    background-size: cover; 
    background-position: center;
}

.add-fav {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(243, 244, 246, 0.6);
    backdrop-filter: blur(10px);
    cursor: pointer;
}

.movie-content {
  
    font-size: smaller;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
   
}
.movie-content h3{
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}
.movie-title {
    text-overflow: ellipsis;
    word-wrap: break-word;
    line-height: 20px;
    font-size: 18px;
    color: #111827;
    font-weight:700;
}


@media screen and (max-width: 1200px) {
    .fav-movie-card {
        width: calc(33.333% - 20px); /* Adjust width for 3 columns */
        height: 400px; /* Reduce height for smaller screens */
    }
}

@media screen and (max-width: 800px) {
    .fav-movie-card {
        width: calc(50% - 20px); /* Adjust width for 2 columns */
        height: 350px; /* Reduce height for smaller screens */
    }
}

@media screen and (max-width: 600px) {
    .fav-movie-card {
        width: calc(100% - 20px); /* Adjust width for 1 column */
        height: 300px; /* Reduce height for smaller screens */
        margin-left: 10px; /* Adjust margin for better spacing */
    }
}