.header {
    width: 100%;
    height: 15px;
    padding: 32px 98px 32px 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0px;
    background-color:#FFFFFF;
    
  }
  .search-content{
    width: Hug (648px)px;
    height: Hug (40px)px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    align-items: center;
    

  }
  .icon-title{
    height: Hug (32px)px;
    opacity: 0px;
    display: flex;
    align-items: center;
    gap: 8px;

  }
  
  .icon{
    width:34 px;
    height: 34 px;
    border-radius: 60px;
    padding: 2px 3.3px 2px 3.3px;
    background-color: #FF0059;

  }
  .icon-title h3{
    font-family:DM sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;


  }
  
  .search-bar  {
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: flex;
   background-color:#FFFFFF;
   gap: 4px;
  }
  .search-bar input{
    border: none;
    width: 400px;
  }
  .search-bar input:focus {
    outline: none;
  
}
  
  .favourites-button {
    width: 153px;
    height: 40px;
    padding: 10px 16px 10px 16px;
    gap: 8px;
    border: none;
    border-radius: 8px ;
    opacity: 0px;
    background-color: #FF0059;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    
  }
  .clear-search-icon{
    width: 10px;
    height: 10px;
    align-self: center;
    margin-right: 6px;
  }
  
  @media (max-width: 419px) {
   .header{
    align-items: center;
    padding: 30px 15px 30px 15px;
   
   }
  .icon-title{
    gap: 3px;
  }
    .search-content{
       gap: 10px; 
    }
   
    .search-bar input{
        width: 150px;
    }
    .search-bar input:focus {
      outline: none;
    
  }
    .icon-title h3{
        font-size: 10px;

    }
    .favourites-button {
      width: 80px;
      height: 26px;
      font-size: 10px;
      gap:0;
      padding: 8px 10px 8px 10px;
  }
  
   
  
    
  }
  